<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <test name="Test">
    <classes>
      <class name="ru.mail.projects.vfs_test.VfsTest"/>
      <class name="ru.mail.projects.base_test.AddressTest"/>
      <class name="ru.mail.projects.frontend.impl_test.FrontEndImplTest"/>
      <class name="ru.mail.projects.frontend.impl_test.UserSessionTest"/>
      
      <class name="ru.mail.projects.game_mechanics_test.GameMechanicsImplTest"/>
      <class name="ru.mail.projects.game_mechanics_test.GameSessionTest"/>
      <class name="ru.mail.projects.game_mechanics_test.GameStateTest"/>
      <class name="ru.mail.projects.resources_test.DBConnectionResourceTest"/>
      
      <class name="ru.mail.projects.message_impl_test.AddressImplTest"/>
      <class name="ru.mail.projects.messages_test.MsgAddUserIdTest"/>
      <class name="ru.mail.projects.messages_test.MsgClickTest"/>
      <class name="ru.mail.projects.messages_test.MsgUpdateUserIdTest"/>
            
      <class name="ru.mail.projects.messages_test.MsgGameStartedTest"/>
      <class name="ru.mail.projects.messages_test.MsgGetUserIdTest"/>
      <class name="ru.mail.projects.messages_test.MsgStartGameTest"/>
      
      <class name="ru.mail.projects.utils_test.ContextTest"/>
      <class name="ru.mail.projects.utils_test.LongIdTest"/>
      <class name="ru.mail.projects.utils_test.ThreadHelperTest"/>
      <class name="ru.mail.projects.account.database.impl_test.DataBaseServiceCapTest"/>
      <class name="ru.mail.projects.account.database.impl_test.UsersDataSetTest"/>
    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
